<div class="container">
  <div class="row">
    <div class="col-md-4 col-lg-4 offset-md-4 col-sm-12 mb-5">
      <form
        [formGroup]="FormData"
        role="form"
        (ngSubmit)="onSubmit(FormData.value)"
      >
        <div class="form-group mb-3">
          <h2>📚 Agregar una cita</h2>
        </div>
        <div class="form-group">
          <label>Fecha</label>
          <input type="date" formControlName="fecha" class="form-control" required/>
        </div>

        <div class="form-group">
          <label for="country">Paciente</label>
          <input type="text" formControlName="paciente" class="form-control" required/>
        </div>
        <div class="form-group">
          <label>Cita</label>
          <input type="text" formControlName="tipoCita" class="form-control" required />
        </div>
        <div class="form-group">
          <label>Medico</label>
          <input type="text" formControlName="nombreMedico" class="form-control" required/>
        </div>
        <div class="mt-2">
          <button type="submit" class="btn btn-success">Agregar</button>
        </div>
      </form>
    </div>
  </div>
</div>
