<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-10 offset-md-1 col-sm-12">
      <div>
        <div class="mb-5">
          <h3> Citas 🧘🏿‍♂️</h3>
        </div>
        <div class="d-flex justify-content-between mb-5">
          <div>
            <input
              type="text"
              class="form-control"
              placeholder="Buscar cita..."
              autocomplete="off"
            />
          </div>

          <div>
            <a [routerLink]="['/add-book']" class="p-2">
              <button class="btn btn-success">Agregar Cita</button>
            </a>
          </div>
        </div>

        <div style="overflow-x: auto">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Paciente</th>
                <th scope="col">Cita</th>
                <th scope="col">Medico</th>
                <th scope="col">Numero cita</th>
				<th scope="col">Estado</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let book of books$; let i = index">
                <th scope="row">{{ book.id }}</th>
                <td>{{ book.fecha }}</td>
                <td>{{ book.paciente }}</td>
                <td>{{ book.tipoCita }}</td>
                <td>{{ book.nombreMedico }}</td>
                <td>{{ book.numeroCita }}</td>
		        <td>{{ book.estado }}</td>
                <td class="td-btn">
                  <div class="btn-group" role="group">
                    <button
                      type="button"
                      class="btn btn-outline-success btn-sm"
                      (click)="onUpdate(book.id)"
                    >
                      Update
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-danger btn-sm mr-2"
                      (click)="onDelete(book.id)"
                    >
                      Delete
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
