<div class="container">
  <div class="row">
    <div class="col-md-4 col-lg-4 offset-md-4 col-sm-12 mb-5">
      <form
        [formGroup]="FormData"
        role="form"
        (ngSubmit)="onSubmit(FormData.value)"
      >
        <div class="form-group mb-3">
          <h2>🔖 Actualiza tu cita</h2>
        </div>
        <div class="form-group">
          <label>Fecha</label>
          <input type="text" formControlName="fecha" class="form-control" />
        </div>
		  
		  <div class="form-group">
          <label>Numero cita</label>
          <input type="text" formControlName="numeroCita" class="form-control"/>
        </div>

        <div class="form-group">
          <label for="paciente">Paciente</label>
          <input type="text" formControlName="paciente" class="form-control" />
        </div>
        <div class="form-group">
          <label>Cita</label>
          <input type="text" formControlName="tipoCita" class="form-control" />
        </div>
        <div class="form-group">
          <label>Medico</label>
          <input type="text" formControlName="nombreMedico" class="form-control" />
        </div>
        <div class="form-group">
          <label>Estado</label>
          <input type="text" formControlName="estado" class="form-control" />
        </div>

        <div class="mt-2">
          <button type="submit" class="btn btn-success" [disabled]="isloading">
            Actualizar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
